h1 {
  color: #ededed;
  font-family: "Indie Flower", cursive;
  font-size: 55px;
  line-height: 1;
}

.container {
  max-width: 700px;
  max-height: 80%;
}

.Dictionary {
  color: white;
}

.Dictionary-search {
  padding-top: 38px;
}

.heading {
  font-style: oblique;
}

.magnifier-icon {
  color: rgb(66, 66, 66);
  left: 600px;
  position: absolute;
  padding: 12px;
  width: 100%;
}
