h1 {
  color: #ededed;
  font-family: "Indie Flower", cursive;
  font-size: 70px;
}

.container {
  max-width: 900px;
  max-height: 80%;
}

.Dictionary {
  color: white;
}

.Dictionary-search {
  padding-top: 50px;
}

.heading {
  font-style: oblique;
}
