.Dictionary body {
  max-height: 80%;
}

.dictionary {
  color: var(--main-text-color);
  background: var(--secondary-background);
}

.Dictionary h1 {
  color: var(--main-text-color);
  font-family: "Indie Flower", cursive;
  font-size: 70px;
}

.Dictionary input {
  font-size: 25px;
  width: 500px;
  margin-bottom: 10px;
}

.Dictionary .heading {
  font-style: oblique;
}
