:root {
  --main-bg-color: black;
  --secondary-bg-color: #003f5c;
  --main-text-color: #fdfdf6;
  --secondary-text-color: rgb(194, 194, 194);
}

body {
  background: var(--main-bg-color);
  font-family: "Genos", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
}
